doctype html
html
    head
        title Webim test task
        style
            include /css/kube.min.css
    body
        div(style="margin-top: 5%")
            div(class='col')
                - var greetings = 'Hello, ' + user.displayName
                    h2= greetings
                    p Your some random friends:
                - var friend_list = friends.response.items
                - for (var i = 0; i < friend_list.length; i++)
                    li= friend_list[i].first_name + ' ' + friend_list[i].last_name